.main{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-image: url('./../img/scrol.png');
    background-repeat: repeat-y;
    margin-left:3%;
    
}

.e{
    width:14vw;
    height:12vw;
    margin:0;
    padding:0;
}

.page-header{
    height:14vw;/*190px*/
    width:88%;/*1270*//*88%*/
    margin-bottom:40px;
    background-color: rgba(194, 202, 211, 0.3);
    border-radius: 0 0 40px 40px;
    margin-left:7%;/*110px*/

}

.main-nav{
    align-items: center;
    display: flex;
    /*width: 100%;*//*1200*/
    margin: 0 auto;
    padding: 0;
}

.line-1{
    width: 1vw;/*2px*/
    height:3vw;/*40px*/
    border-left: 2px solid black;
    margin-right: 2%;
    margin-left:2%;
}

.logo{
    margin:0;
    margin-right: auto;
    cursor: pointer;
}

.site-navigation{
    display:flex;
    list-style: none;
    /*flex-wrap: wrap;*/
    padding:0;
    margin:0;
    margin-right: 15%;/*40*/
    /*max-width: 990px;*/
    /*width:40%;*//*500*/
}

.site-navigation-item{
    margin-right: 7%;/*50*/
    cursor: pointer;
    width:100%;
}

.site-navigation-item a{
    border-bottom: 0 solid grey;
    transition: 0.2s; /* Время перехода */
    color: #163152;
    font-size: 1vw;/*14px*/
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.button-1{
    width:50%;/*160px*/
    padding:3%;/*10px*/
    border-radius: 6px;
    background-color: rgba(194, 202, 211, 0.3);
    transition: 0.5s;
    border: none;
    margin: 0 auto;
    margin-left: 24%;
    display: block;
    font-family: "Roboto", sans-serif;
    color: #163152;
    font-size: 1.1vw;/*16px*/
}

.button-2{
    width:37%;/*160px*/
    padding:2%;/*10px*/
    border-radius: 6px;
    background-color: rgba(152, 157, 162, 0.3);
    transition: 0.5s;
    border: none;
    margin: 0 auto;
    display: block;
    font-family: "Roboto", sans-serif;
    color: #163152;
    font-size: 1.1vw;
    margin-top:0%;/*20px*/
    cursor: pointer;
}

.button-1:hover{
    background-color: rgba(54, 56, 59, 0.3);
}

.button-1:hover span {
    display: none;
  }

.button-1:hover::after {
    content: "+7-922-177-79-11";
}

.site-navigation-item a:hover {
    border-bottom-width: 3px;
}
  
.site-navigation-item:last-child{
    margin-right: 0px;
}

.about h1{
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 4vw;/*50*/
    font-style: italic;
    font-weight: normal;
    font-size: 2.2vw;/*32px*/
    line-height: 60px;
}

.big{
    font-family: 'Grape Nuts', cursive;
    font-size: 1.6em;
    text-transform: uppercase;
}

.main-content{
    width:83%;/*1170*//*83*/
    /*margin:0 auto;*/
    margin-left:6%;
    padding:0 5%;/*0 55*/
    margin-right:11%;
}


.main-content-3{
    width:83%;/*1170*/
    margin:0 auto;
    padding:0 5%;/*0 55*/
    /*width:1170px;
    margin:0 auto;
    padding:0 55px;*/
}

.blog-article{
    display:flex;
    justify-content:space-between;
    width:85%;/*1100*//*95%*/
    margin:0 auto;
    align-items: center;
    margin-left: 4vw;/*50*/
    font-size: 1.2vw;
}

.blog-article-content{
    width:100%;/*500px*/
}

.blog-article-content p{
    width:90%;/*500px*/
    margin-bottom: 50px;
}

.blog-article-content p:last-child{
    margin-bottom: 0px;
}

.blog-img{
    border-radius: 20px;/*16*/
    width:30vw;/*450*//*40%*/
    height:23vw;/*350*//*35*/
}

.main-foot{
    /*padding-top:5%;*//*60px*/
    padding-bottom: 60px;/*60px*/
    margin-top:5%;/*40px*/
    font-size: 10px;/*10px*/
    line-height: 12px;/*12px*/

}

.footer-container{
    width:80.5%;/*1170*/
    margin:0 auto;
    padding:2% 3%;/*20 50*/
    display:flex;
    justify-content: space-around;
    /*border-top: 1px solid black;*/

    background-color: rgba(152, 157, 162, 0.3);
    border-radius: 40px 40px 0 0;
    margin-left:7%;/*110px*/
    height:14vw;/*190px*/
    margin-bottom:-100px;
}

.footer-navigation-topics{
    display:flex;
    justify-content: space-between;
    width:88%;/*2000px*/
    list-style: none;
    margin:0;
    padding: 0;
    font-size: 1.1vw;/*14px*/
    line-height: 1.5vw;/*16px*/
    margin-left:35px;/*110*/
    column-gap: 50px;
    align-items: center;
}

.footer-navigation-topic{
    width:20%;/*200*/
}

.footer-navigation-topic:last-child{
    text-align: center;
}

.footer-navigation-topic a{
    cursor: pointer;
}

.footer-navigation-topic h2{
    margin-top:0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0;
    margin: 0;
    margin-left:2%;/*3.5*/
    list-style: none;
    gap:2%;/*30*/
    /*height: 100%;*//*1000px*/
    margin-top:3%;
}

.card{
    width:22%;/*310*/
    padding: 2%;/*30*/
    box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
    margin-top:2%;
    height:30%;
}


.girl-1{
    width:100%;/*310*//*100%*/
    height:73%;/*320*//*73%*/
}

.card p{
    text-align: center;
    font-size: 1.6vw;/*22px*/
    
}

.filter-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.teg{
    display:flex;
    align-items: center;
    width:117%;
    column-gap: 28%;
}

.filter{
    font-size:1.1vw;/*16px*/
    margin-left:15%;/*50px*/
    width:60%;/*160px*/
    padding: 7px 22px 7px 12px;
    /*box-sizing: border-box;
    font-size: inherit;*/
    border: none;
    border-radius: 20px;
    /*-moz-appearance: none;
    -webkit-appearance: none;*/
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 8px top 50%;
    background-size: 8px auto;
    /*background-color: #FFF5EE;*/
    background-color:rgba(194, 202, 211, 0.3);
    color: #163152;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2317161a%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    box-shadow: 0 0 10px rgba(93, 92, 92, 0.5);
}

.block{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width:96%;
    height:6vw;
    margin:0 auto;
    margin-left:3%;/*45px*/
    background-color: #F8F8FF;
    padding-left:0.9%;/*10px*/
    padding-top:1.5%;/*1.5%*/
    display: flex;
    margin-bottom:1.5%;/*30px*/
    align-items:end;
    justify-content: space-between;
}

.inf{
    padding-left:1%;/*15px*/
    padding-top:0%;/*10px*/
    padding-bottom: 2%;/*1.3%*/
    line-height: 2vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width:60%;
}

.rub-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.rub-button img {
    width:2vw;
    height:2vw;
}

.rep{
    display:flex;
}

.rub{
    width:2vw;
    height:2vw;
}

.inf-3{
    height:90%;
    padding-left:1%;/*15px*/
    width:60%;
    margin-top: auto;
    margin-bottom: auto;
}

.inf-2{
    width:27%;
    height:1vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;/*10px*/
    margin-bottom: 2%;
}

.block-h{
    font-family: 'Roboto Slab', serif;
    color:#163152;
    line-height: 2vw;
    font-size: 1.3vw;
    margin:0;
}

.price-komplex-tat{
    padding:10px;
    width:58px;
    height:20px;
    border-radius: 12px;
    color:#163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
}

.price-komplex-1{
    padding:2%;
    /*width:12%;*/
    height:2vw;
    border-radius: 12px;
    color:#163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.price-komplex{
    padding:2%;
    /*width:15%;*/
    height:2vw;
    border-radius: 12px;/*12px*/
    color:#163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hash-komplex{
    padding: 2%;/*3%*/
    width:53%;
    height:2vw;
    border-radius: 12px;
    color: #163152;
    background-color: #d2d1d1;
    /*margin-bottom: 10px;*/
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hash-komplex-1{
    padding: 2%;/*10*/
    width:45%;/*135*/
    height:2vw;/*20*/
    border-radius: 12px;
    color: #163152;
    background-color: #d2d1d1;

    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hash-komplex-body{
    padding: 2%;
    width:39%;/*120*/
    height:2vw;/*20*/
    border-radius: 12px;
    color: #163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hash-komplex-massage{
    padding: 2%;
    width:43%;/*130*/
    height:2vw;
    border-radius: 12px;
    color: #163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hash-komplex-dd{
    padding: 2%;
    width:61%;/*185*/
    height:2vw;
    border-radius: 12px;
    color: #163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hash-komplex-hand{
    padding: 2%;
    width:42%;
    height:2vw;
    border-radius: 12px;
    color: #163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hash-komplex-face{
    padding: 2%;
    width:40%;/*120*/
    height:2vw;
    border-radius: 12px;
    color: #163152;
    background-color: #d2d1d1;
    font-size: 1.1vw;
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center;
}

.hidden {
    display: none;
}

.contacts{
    width:100%;/*1200*/
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;/*5%*/
    column-gap: 4%;
}

.contact-img{
    width:60%;/*670*/
    height:30%;/*351*/
}

.contacts-content{
    width:33%;/*400*/
    padding-top: 2%;/*50*/
}

.contacts-img{
    width:670px;
}

.contacts h2{
    margin:0;
    margin-bottom: 35px;
    font-size: 1.6vw;/*24px*/
    
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 0.1vw;/*2px*/
    text-underline-offset: 1vw;/*15px*/
    text-underline-position: under;
}

.block-p{
    width:100%;/*650px*/
    padding:0;
    margin:0;
    font-size: 1.1vw;
    line-height: 1.5vw;
}

.contact-item{
    margin:0;
    margin-bottom: 3%;/*15px*/
    font-size: 1.2vw;/*100%*/
    line-height: 100%;/*22*/
}

.contact-item h3{
    display: inline;
    margin:0;
    margin-right: 8px;
    font-size: 100%;/*16*/
    line-height: 100%;/*228*/
}

.contact-item address{
    display:inline;
    font-size: normal;
}

.contact-item a{
    color: #163152;
    text-decoration: none;
}

.contact-item a:hover{
    color: rgba(22, 49, 82, 0.5)
}

.contact-item a:active{
    color: rgba(22, 49, 82, 0.3)
}

.contact-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list{
    display:flex;
    flex-wrap: wrap;
    padding:0;
    margin:0;
    margin-top: 15px;
    list-style: none;
}

.social-item{
    margin-right: 15px;
}

.signin {
    padding:5px;
    border: 1px solid #163152;
    border-radius: 50%;
    width:3vw;
    height:3vw;
}

.account{
    /*margin:0 auto;*/
    margin-left:21%;
    border:2px solid #163152;
    border-radius: 20px;
    width:55%;/*700px*//*55%*/
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;/*50px*/
}

.account-2{
    /*margin:0 auto;*/
    margin-left:18%;
    border:2px solid #163152;
    border-radius: 20px;
    width:55%;/*700px*//*55%*/
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;/*50px*/
    margin-bottom: 7%;
    margin-top:8%;
}

.account h1{
    font-size: 1.8vw;
}

.reg{
    width:70%;
    font-size: 1.2vw;
    margin-bottom: 5%;
    margin-left:15%;
}

.reg-3{
    font-size: 1.2vw;
    margin-bottom: 5%;
    margin-left:10%;
}


.pl-1{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:38%;
    margin-left:15%;
}

.pl-2{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:38%;
    margin-left:12.5%;
}

.reg-2{
    font-size: 1.2vw;
}

.pl-3{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:38%;
    margin-left:7.5%;
}

.pl-4{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:38%;
    margin-left:21.5%;
}

.pl-5{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:38%;
    margin-left:17.5%;
}

.pl-6{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:38%;
    margin-left:17%;
}

.pl-7{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:30%;
    margin-left:8%;
}

.pl-8{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:30%;
    margin-left:28.5%;
}

.pl-9{
    border:none;
    border-radius: 10px;
    background-color: rgba(194, 202, 211, 0.3);
    font-size: 1.2vw;
    padding: 2%;
    margin-bottom: 10px;
    width:30%;
    margin-left:37%;
}

::placeholder{
    color:#7388a1;
}

/*.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.a{
    width:4vw;
    height:4vw;
}